<div class="w-full h-full flex flex-col items-center shadow-md p-2 rounded">
  <img id="image" class="w-full aspect-square p-2" />
  <p id="prod-title" class="font-semibold text-justify w-full"></p>

  <div class="w-full flex items-center justify-between mt-2">
    <p id="price" class=""></p>

    <button id="add-to-shopping-cart"
      class="p-2 border border-neutral-300 rounded-full size-8 cursor-pointer hover:shadow-md hover:scale-105 transition-all"
      type="button">
      <img src="../../public/shopping-cart [rose-500].png" />
    </button>
  </div>
</div>