<div class="w-full h-full flex flex-col items-center shadow-md p-2 rounded bg-white">
  <div class="w-full aspect-square flex justify-center items-center">
    <img id="image" class="p-2" />
    <img id="image-placeholder" src="../../public/file-image [neutral-500].png" />
  </div>
  <p id="prod-title" class="font-semibold text-justify w-full"></p>

  <div class="w-full flex items-center justify-between mt-2">
    <p id="price" class=""></p>

    <button id="add-to-cart"
      class="p-2 border border-neutral-300 rounded-full size-8 cursor-pointer hover:shadow-md hover:scale-105 active:shadow-inner active:scale-90 transition-all"
      type="button">
      <img src="" />
    </button>
  </div>
</div>